root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h,cpp,cc}]
indent_size = 4
indent_style = tab

[*.{js,sh}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
