[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
tab_width = 2

[*.{go,c,cpp,cc}]
tab_width = 4

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
